{{@include("organisms/page-head.hbs")}}
	
	{{> navbar-fixed-top }}

    <div class="container theme-showcase" role="main">
      <h1>Posts</h1>
		{{#each blog.posts}}
		   {{> "myPartial" }}
		{{/each}}
		
		{{@include("molecules/amounthandler.hbs")}}

    </div>

{{@include("organisms/page-foot.hbs")}}