<div data-bind="amounthandler">
	<button data-bind="decrease">-</button>
	<input data-bind="quantity" type="text" size="2" value="{{amounthandler.value}}" />
	<button data-bind="increase">+</button>
</div>